body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*====================*/

.header-section{
      background: #202020;
    padding-bottom: 70px;

}
/*=======
.container{
  max-width: 1250px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}  
====*/
.header-left-section{
    width: 70%;
    float: left;
    background: #0c0707;
}
.navigationbar{
  padding-left: 70px;
}
.logo_section{
float: left;
}
.logo_section img{
    width: 100px;
    height: 50px;
}
.social_icon{
      float: right;
    overflow: hidden;
}

.social_icon ul{

}
.social_icon ul li{
display: inline-block;
    margin: 10px 15px;
}

.social_icon ul li a{
font-size: 20px;
color: #fff;
transition: 0.6s;
}
.social_icon ul li a:hover{
  color: #B79D4E;
}



.banner-text-area{
display: block;
    padding-top: 150px;
    padding-bottom: 75px;
}
.banner-text-area h1{
  font-size: 25px;
    color: #fff;
    padding-bottom: 10px;
}
.banner-text-area h4{
  font-size: 15px;
    color: #fff;
    padding-bottom: 10px;
}
.banner-text-area p{
 font-size: 12px;
    color: #c9c0c0;
    padding-bottom: 10px;
    width: 550px;
    line-height: 15px;
}
.header-right-section{
    float: right;
    width: 30%;
}
.header-right-section img{
    height: 374px;
}

